* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #c8ebe2;
}

/* Navbar */
nav {
    background: #1e293b;
    color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Dashboard */
main {
    padding: 30px 5%;
}

h1 {
    margin-bottom: 25px;
}

/* Charts */
.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.chart-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ddd;
}

.chart-box h3 {
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .charts {
        grid-template-columns: 1fr;
    }

    main {
        padding: 20px;
    }
}